#menu-toggle
{
position:absolute;
margin-left:25px;
margin-top:85px;
}
#bread
{
position:relative;
margin-top:51px;
}
#dashboard_navbar
{
position:relative;
margin-top:-20px;
height:45px;
background-color:#F4F4F4;
}
#dash_font
{
font-size:20px;
}
#create
{
position:relative;
margin-top:-90px;
float:right;
padding:40px;
}
#response_data
{
    color:white;
    background-color: black;
}
#sign_modal
{
	height:540px;
	width:540px;
	position:absolute;
	margin-left:460px;
	margin-top: 80px;
}
#navchange
{
	background-color: #4076B2 !important;
}
#sidebar-wrapper
{
	background-color: #F1F1EA !important;
	border:solid 1px grey; 
}
#tool_tipmenu
{
	display: none;
}
#duplicate
{		
	position:absolute;
	margin-left:-20px;
	margin-top:200px;
	height:350px;
	width:75px;
	display: none;
	background-color: #F1F1EA;
	border:solid 1px grey;
	border-radius: 8px;
}
#minimized li
{
	width:40px;
}
#some
{
	margin-left: 55px;
	position: relative;
	width: auto;
}
.sub_menu
{
	list-style: none;
}
.bread
{
	color: #4076B2 !important;
}
.dash_header
{
	border:solid 1px grey; 
}
.toggle_icon:hover
{
	color:white !important;
}

#nimesh:hover
{
	color:white !important;
}
.active
{
	color:black !important;
}
.active:hover
{
	color:white !important;
}
.horizon
{
	background-color:black !important;
}
a
{
	color:black !important;
}
a:hover
{
	color:#4076B2 !important;
}
#text1
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
#text2
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
#text3
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
#text4
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
.signup_fields
{
	position: relative;
	margin-left: 40px;
}