#menu-toggle
{
position:absolute;
margin-left:25px;
margin-top:85px;
}
#bread
{
position:relative;
margin-top:51px;
}
#dashboard_navbar
{
position:relative;
margin-top:-20px;
height:45px;
background-color:#F4F4F4;
}
#dash_font
{
font-size:20px;
}
#create
{
position:relative;
margin-top:-90px;
float:right;
padding:40px;
}
#response_data
{
    color:white;
    background-color: black;
}
#sign_modal
{
	height:540px;
	width:540px;
	position:absolute;
	margin-left:460px;
	margin-top: 80px;
}
#text1
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
#text2
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
#text3
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
#text4
{
	width:350px;
	position: relative;
	margin-left: 40px;
}
.signup_fields
{
	position: relative;
	margin-left: 40px;
}